.question-card {
  margin-bottom: 16px;
  width: 100%;
  background-color: whitesmoke;
}

.input-select {
  width: 197px;
}

.even {
  display: flex;
  justify-content: space-evenly;
}

.between {
  display: flex;
  justify-content: space-between;
}

.end {
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
  padding-bottom: 8px;
}

.options {
  background-color: white;
}

.add-option-btn {
  margin-right: 8px;
}

.option-number {
  color: #757575;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-right: 10px;
}